*.DS_store
.Rhistory
.ipynb_checkpoints
*scratch.ipynb
*scratch.py
*.swp
*Nn1e2.pkl
workspace*
*test.pkl
testing.ipynb
rob_org.txt
robustness*.h5
*pycache*
shared_data.h5
signac.rc
signac_project_document.json
